/*
Theme Name: VFI
Theme URI: 

Description: Child theme for the  Twenty Thirteen

Author URI: 

Template: twentythirteen

Version: 1.0

*/

@import url(../twentythirteen/style.css );
.zero-comments
{
    background-color: yellow;
    color: green;
}
.one-comments
{
    background-color: yellow;
    color: blue;
}
.multiple-comments
{
    background-color: yellow;
    color:black;
}
#myList li{ display:none;
}
#loadMore {
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
}
#showLess:hover {
    color:black;
}
